
<div class="newspaper_b">
<a href="http://www.tyre-asia.com/index.php?option=com_content&view=article&id=147:rubber-tyre-machinery-experts"><img src="@Url.Content("~/Content/img/magazine.gif")" alt="Polymers and tyre asia"/></a>
<pre>
Ryan Soberay (left) and
Ron Soberay (right) appear
on the September-October cover of 
<a href="http://www.tyre-asia.com/index.php?option=com_content&view=article&id=147:rubber-tyre-machinery-experts">Polymers & Tyre Asia</a>
</pre>
</div>