@{
    ViewBag.Title = "About";
}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45577422-1', 'soberaysons.com');
  ga('send', 'pageview');

</script>
<h1>About Us</h1>

<p>
Soberay and Sons is one of the most capable and dependable suppliers of rubber processing machinery in the world. Our family has served the industry over 70 years and three generations. Our sterling reputation for quality rebuilds and dependable used equipment is based on our years of service to the rubber industry. Through superior knowledge and experience, we have earned your confidence.
</p>
<p>

    Due to the rising number of corporations closing manufacturing facilities, we have positioned ourselves as one of the leading liquidators of tire plants and equipment in the World. We now offer this quality equipment:
</p>

<table>
    <thead>
        <th style="text-align: center">Equipment Class</th>
        <th style="text-align: center">Description</th>
    </thead>
    <tbody>
        <tr>
            <td>Passenger/Light</td>
            <td>bead range 13”-16”, fifty (50) 300-40.5” presses, thirty (30) TAM / TBM</td>
        </tr>
        <tr>
            <td>Truck/Bus</td>
            <td>bead range 20”-22”, sixteen (16) hydraulic 60” presses, fourteen (14) 55” presses</td>
        </tr>
        <tr>
            <td>OTR</td>
            <td>late model equipment for new and retreaded tires including presses, twenty-nine (29) molds, calenders, tread application unit, buffing machines, dust collectors, scales, and miscellaneous equipment</td>
        </tr>
        <tr>
            <td>Inner Tube</td>
            <td>forty-eight (48) presses 40”-71”, sixty-eight (68) molds 650-16 to 15.5 x 38 of various sizes</td>
        </tr>
        <tr>
            <td>Molds,Farm Bias (Rears)</td>
            <td>various sizes</td>
        </tr>
        <tr>
            <td>Compression Press Plant (for molded goods)</td>
            <td>large hydraulic presses, mixers, mills, extruders and other support equipment</td>
        </tr>
        <tr>
            <td>Mixing Plant, with two (2) Kobelco 270-Liter Mixer Lines</td>
            <td>mixers, mills, batch-offs, extruders, carbon black system, air compressor, chiller and other support equipment</td>
        </tr>
    </tbody>
</table>

    <p>
        Soberay & Sons is committed to excellent service and customer satisfaction. Please @Html.ActionLink("contact","Contact","Pages") us if you need any further information.
    </p>